@import "bourbon";
@import "compass/reset";
@import "mixins/global";
@import "_settings";
@import "mixins/colors";
@import "mixins/type";
@import "mixins/grid";
@import "mixins/fonts";
@import "mixins/spinner";
//@import "foundation/components/grid";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

* {
	@include box-sizing( border-box );
}
html {
	//overflow-x: hidden;
}
body {
	width: 100%;
	overflow-x: hidden;
	color: $gray;
	position: relative;
}
.disable-hover {
  pointer-events: none;
}
a {
	text-decoration: none;
}
.header {
	@extend .row;
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(30);
	background-color: $white;
	color: gray;
	position: relative;

	.logo {
		margin-right: rem-calc(20);
		text-align: center;
		width: 100%;

		@media #{$medium-up} {
			width: auto;
			float: left;
		}
	}

	h1 {
		height: 0;
		width: 0;
		line-height: 1;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 0;
	}

	.slogan {
		width: 100%;
		font-size: rem-calc(10);
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1;

		@media #{$medium-up} {
			margin-top: rem-calc(15);
			width: auto;
			float: left;
			font-size: rem-calc(14);
		}
	}

	.hello {
		float: right;
	}
	.menu {
		position: absolute;
	    z-index: 1000;
	    float: right;
	    width: 30px;
	    height: 30px;
	    cursor: pointer;
	    right: rem-calc(20);
	    top: 50%;
	    @include transform( translateY(-50%) );

	    @media #{$large-up} {
	    	right: 0;
	    }

	    .bars {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 30px;
		    height: 100%;

		    span {
		        position: absolute;
		        top: 50%;
		        left: 50%;
		        display: block;

		        width: 26px;
		        height: 1.3px;
		        margin-left: -13px;
		        margin-top: -1px;

		        background-color: $primary;
		        @include transition ( all 0.15s ease);
		    }
		    span:first-child {
		      	margin-top: -7px;
		    }
		    span:nth-child(2) {
		    	@include transition-delay( .075s );
		    }
		    span:last-child {
		      	margin-top: 5px;
		     	@include transition-delay( .015s );

		    }
		}

		&.active {
			.bars {
				span {
				     width: 0;
				     margin-left: -15px;
				  }
				  
				  span:first-child {
				    margin-top: 0px;
				    width: 30px;
				    @include transform( rotate(45deg) );
				  }
				  span:last-child {
				    margin-top: 0px;
				    width: 30px;
				    @include transform( rotate(-45deg) );
				    @include transition-delay( .15s );
				  }
			}
		}
	}
}
.nav {
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: rgba($white, 0.95);
	position: absolute;
	border-bottom: 1px solid lighten($gray, 36%);
	z-index: 1000;
	//top: rem-calc(150);
	@include transform( translateY(-100%) );

	ul {
		width: 100%;
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(80);	
	}

	li {
		display: block;
		text-align: right;
	}

	a {
		font-weight: 200;
		text-decoration: none;
		color: $gray;
		padding: rem-calc(2) 0;
		@include inline-block;
		position: relative;
		font-size: rem-calc(42);

		&:after {
			content: '';
			width: 0;
			height: 1px;
			position: absolute;
			background-color: $primary;
			right: 0;
			bottom: 0;
			@include transition ( all 1.0s ease-out );
		}

		&:hover {
			color: $primary;

			&:after {
				width: 100%;
				left: 0;
			}
		}
	}

	&.show {
		height: auto;
		@include transform( translateY(0%) );
	}

	.nav_contact {
		text-align: right;
		font-size: 80%;
		padding-bottom: rem-calc(60);
	}
}
.homeHero {
	@extend .container;
	display: table;
	height: rem-calc(580);
	width: 100%;
	background-color: $gray-light;
	color: $gray;
	position: relative;

	.intro {
		position: absolute;
		max-width: rem-calc(500);
		bottom: rem-calc(20);
		left: 50%;
		z-index: 100;
		text-align: center;
		@include transform( translateX(-50%) );
	}

	.row {
		height: 100%;
		position: relative;
	}

	&_icon {
		position: relative;
		top: 50%;
		@include transform( translateY(-50%) );
		text-align: center;

		@media #{$medium-up} {
			text-align: left;
		}
	}

	.content {
		display: block;
		position: relative;
		top: 50%;
		@include transform( translateY(-60%) );
		text-align: center;

		@media #{$medium-up} {
			text-align: right;
			padding-right: rem-calc(50);
		}

		h1 {
			font-size: rem-calc(30);
			font-weight: 300;
			//text-transform: uppercase;
			line-height: 1;
			color: darken($gray-light, 20%);
			vertical-align: middle;
			margin-top: 0;
			margin-bottom: 0;

			@media #{$medium-up} {
				font-size: rem-calc(80);
				letter-spacing: -4px;
			}
		}
	}

	h1 {
		margin-bottom: rem-calc(50);
		max-width: 100%;
	}

	h2 {
		@media #{$medium-up} {
			max-width: rem-calc(600) !important;
			margin: auto auto;
		}
	}

}

// Homepage SVGs
#love_container {
	max-width: 100px;
	//fill: transparent;
	//stroke-width: 3px;
	stroke: $primary;
}
.love {
	stroke: $secondary;
	stroke-width: 10px;
	fill: red;
}
.featured {
	@extend .container;
	position: relative;
	float: left;
	overflow: hidden;
}
.featured_projects {
	width: 100%;
	height: 100%;
	float: left;

	h1 {
		margin-bottom: 0;
		line-height: 1;
	}
}
.featured_header {
	width: 100%;
	padding: rem-calc(20) rem-calc(20);
	background-color: rgba($primary, 0.8);
	color: $white;
	position: absolute;
	z-index: 110;

	&_heading {
		float: left;
		font-size: rem-calc(14);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: rem-calc(1.1);
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1;

		@media #{$large-up} {
			font-size: rem-calc(16);
		}
	}

	.featured_viewall {
		float: right;
		font-size: rem-calc(14);
		display: none;
		color: $white;
		@include transition ( color, transform 0.6s ease-in-out );

		@media #{$medium-up} {
			display: inline;
		}

		&:hover {
			opacity: 0.5;
			@include transform( scale(1.1) );
		}
	}

	.icon-group {
		font-size: rem-calc(50);
		margin-top: rem-calc(-15);
		margin-left: rem-calc(10);
		line-height: 1;
		margin-bottom: rem-calc(-20);
		float: right;

		@media #{$large-up} {
			float: left;
		}
		
		span {
			@include transition ( all 0.3s ease-in );
			@include inline-block;
			cursor: pointer;

			&:hover {
				@include transform( scale(1.4) );
			}
	}	
	}
}

.featured_item {
	width: 100%;
	color: $white;
	float: left;
	height: 100%; // Fill size of container
	//background: image-url("Omenka-Magazine.jpg") no-repeat;
	background-color: #000000;
	background-size: cover !important;
	bacgkround-position: top right;
	position: absolute;

	padding-left: rem-calc(20);
	padding-right: rem-calc(20);
	padding-top: rem-calc(20);

	@media #{$medium-up} {
		padding-top: rem-calc(150);
	}

	@media #{$large-up} {
		padding-left: 0;
		padding-right: 0;
	}

	h1 {
		font-size: rem-calc(40);

		.js & {
			opacity: 0;
		}
	}

	h3 {
		font-size: rem-calc(16);
		font-weight: 200;
		line-height: 1.5;
		color: $white;

		@media #{$small-only} {
			margin-top: rem-calc(10);
		}

		@media #{$medium-up} {
			font-size: rem-calc(20);
		}

		.js & {
			opacity: 0;
		}
	}

	.more {
		position: absolute;
		color: rgba($primary, 0.5);
		font-weight: 100;
		text-decoration: none;
		bottom: rem-calc(20);
		font-size: rem-calc(70);

		@media #{$medium-up} {
			font-size: rem-calc(100);
			bottom: rem-calc(30);
		}
	}
}
.intro-text {
	padding: rem-calc(80) rem-calc(20) !important;
	color: $gray;
	font-size: rem-calc(18);
	line-height: rem-calc(30);
	text-align: center;
	font-weight: 200;

	@media #{$medium-up} {
		padding-top: rem-calc(150);
		padding-bottom: rem-calc(150);
	}
}
.feature-extra {
	float: left;

	@media #{$medium-up} {
		> div {
			padding-right: rem-calc(20);

			&:first-child {
				padding-left: 0 !important;
			}

			&:nth-of-type(2) {
				padding-left: rem-calc(10);
				padding-right: rem-calc(10);
			}

			&:last-child {
				padding-right: 0 !important;
				padding-left: rem-calc(20);
			}
		}
	}
}
.featuredThumbs {
	position: absolute;
	margin: auto auto;
	bottom: rem-calc(20);
	left: 50%;
	@include transform( translateX(-50%) );
	text-align: center;
	

	@media #{$medium-up} {
		left: auto;
		width: 8px;
		right: rem-calc(80);
		top: 50%;
		@include transform( translateY(-5%) );
	}

	span {
		background-color: transparent;
		border: 2px solid $white;
		width: 8px;
		height: 8px;
		margin: rem-calc(5);
		@include inline-block;
		border-radius: 50%;
		@include transition ( scale, transform 0.5s cubic-bezier(0, 1.8, 1, 1.8) );
		cursor: pointer;
		opacity: 0.5;

		&:hover, &.active {
			@include transform( scale(1.3) );
			background-color: $white;
		}

		&.active {
			opacity: 1;
		}
	}
}
.footer {
	@extend .container;
	padding-left: rem-calc(40);
	padding-right: rem-calc(40);
	float: left;
	margin-top: rem-calc(150);
	color: lighten($gray, 20%);
	font-weight: 200;
	padding-bottom: rem-calc(100);

	@media #{$large-up} {
		padding-left: 0;
		padding-right: 0;
	}
}
.footer_info {
	font-size: rem-calc(20);
	font-weight: 200;
	margin-bottom: rem-calc(150);
}
.footer_copyright {
	font-size: rem-calc(12);
	border-top: 1px solid lighten($gray, 30%);
	padding-top: rem-calc(12);
	margin-top: rem-calc(12);
}
.footer_links {
	li {
		display: inline;
		float: left;

		a {
			color: lighten($gray, 20%);
			text-decoration: none;
			padding-right: rem-calc(10);
			font-size: rem-calc(12);

			@media #{$medium-up} {
				font-size: inherit;
				padding-right: rem-calc(30);
			}
		}
	}
}
.footer_social {
	text-align: left;
	margin-top: rem-calc(20);

	@media #{$medium-up} {
		text-align: right !important;
		float: right !important;
	}

	[class^="icon-"], [class*=" icon-"]  {
		margin-bottom: rem-calc(16);
		@media #{$medium-up} {
			text-align: right;
		}
	}
}


//Homepage Slider
.slideshows {
	width: 100%;
	height: 100%;
}
/* dimensions & placement of ParticleSlider */
.particle-slider {
 	width: 100%;
	height: 100%;
	float: left;
}
/* hide control & slide sources */
.particle-slider div {
	display: none;
}

//Contact
.contact {
	background-color: $gray-light;
	padding-top: rem-calc(100);
	padding-bottom: rem-calc(100);

	h1 {
		padding-bottom: rem-calc(80);
	}
}
.contact_social {
	margin-top: rem-calc(20);

	@media #{$medium-up} {
		text-align: right;
		margin-top: 0;
	}

	[class^="icon-"], [class*=" icon-"] {
		display: block;
		font-size: rem-calc(26);
		margin-bottom: rem-calc(20);
		color: lighten($gray, 20%);
	}
}
.about{
	background-color: $gray-light;
	padding-top: rem-calc(100);
	padding-bottom: rem-calc(100);
	padding-top: rem-calc(100);

	.heading {
		padding-top: rem-calc(80);
		padding-bottom: rem-calc(60);
	}

	h3 {
		font-weight: 400;
	}

	.xxxxxlarge {
		color: rgba($secondary, 0.5);
		line-height: 1;
	}
}
.notThings {
	.col {
		padding-bottom: rem-calc(40);
	}
}
.works, .worksSingle {
	@extend .about;
}
.worksSingle {
	background-color: darken($gray-light, 5%);
	
	h3 {
		font-weight: 200 !important;
	}
	p {
		font-size: rem-calc(16);
	}
	.client {
		text-transform: uppercase;
		margin-bottom: $padding;
		padding-bottom: $padding;
		display: block;
		border-bottom: 1px solid white;
		
		p {
			font-size: 80%;
			line-height: 1.5;
			margin-bottom: 0;

			strong {
				color: white;
				font-weight:  800;
			}
		}
	}

	.work_heading {
		color: white;
		font-weight: 800;
		letter-spacing: -1px;
	}
	.work_subhead {
		line-height: 1.5;
		letter-spacing: -0.5px;
	}
}
.works_group_wrapper {
	width: 100%;
	float: left;
	position: relative;

	&_left_arrow, &_right_arrow {
		height: 70%;
		width: rem-calc(27);
		color: $primary;
		position: absolute;
		//top: 25%;
		font-size: rem-calc(40);
		line-height: 1;
		z-index: 500;
		background-color: rgba($gray-light, 0.9);
		@include transform( translateY(30%) );
		//opacity: 0;

		@media #{$small-only} {
			padding: rem-calc(2);
			right: -10px;
			font-size: rem-calc(30);
		}

		span {
			@include inline-block;
			position: absolute;
			top: 50%;
			@include transform( translateY(-50%) );
		}
	}

	&_left_arrow {
		left: -30px;
		@media #{$medium-up} {
			left: -20px;
		}

		&:before {
			content: '';
			width: 1px;
			height: 100%;
			@include background-image(linear-gradient( $gray-light 0, darken($gray-light, 10%) 50%, $gray-light 100% ));
			position: absolute;
			right: 0;
		}
	}

	&_right_arrow {
		right: -30px;

		@media #{$medium-up} {
			right: -20px;
		}


		&:before {
			content: '';
			width: 1px;
			height: 100%;
			@include background-image(linear-gradient( $gray-light 0, darken($gray-light, 10%) 50%, $gray-light 100% ));
			position: absolute;
			left: 0;
		}
	}
}
.works_group {
	padding-top: rem-calc(40);
	padding-bottom: rem-calc(20);
	font-size: rem-calc(13);
	border-bottom: 1px solid $white;
	overflow-x: auto;
	position: relative;
	width: 100%;
}
.works_group_nav {
	width: auto;
	//display: inline;
	float: left;
	position: relative;

	li {
		display: inline;
	}

	a {
		font-weight: 400;
		text-decoration: none;
		padding: rem-calc(20) rem-calc(0) rem-calc(20) 0;
		color: lighten($gray, 20%);
		@include inline-block;
		position: relative;
		margin-right: rem-calc(20);

		&:after {
			position: absolute;
			content: '';
			width: 0;
			height: 2px;
			background-color: rgba($secondary, 0.3);
			bottom: rem-calc(-20);
			right: 0;
			@include transition ( all 0.5s ease );
		}

		&:hover {
			color: rgba($secondary, 0.5);

			&:after {
				left: 0;
				width: 100%;
			}
		}

		&.active {
			color: rgba($secondary, 0.5);
			&:after {
				position: absolute;
				content: '';
				width: 100%;
				height: 2px;
				background-color: rgba($secondary, 0.3);
				bottom: rem-calc(-20);
				right: 0;
				@include transition ( all 0.5s ease );
			}
		}
	}	
}
.works_collection {
	width: 100%;
	float: left;
	margin-top: rem-calc(60);
	//@include transition ( height 0.2s ease-out );

	.item {
		float: none;
		margin: auto auto;
		position: relative;
		margin-bottom: rem-calc(20);
		@include perspective( 400px );
		//background-color: $white;

		color: lighten($gray, 20%);
		text-decoration: none;
		@include inline-block;
		float: left;
		text-align: center;

		&_wrapper {
			margin: auto auto;
			@include inline-block;
			float: none;
			//padding-right: rem-calc(20);

		}

		.js & {
			opacity: 0;
		}

		@media #{$small-only} {
			padding-left: rem-calc(40);
			padding-right: rem-calc(40);
			border-bottom: 1px solid $white;
			padding-bottom: rem-calc(30);
		}

		@media #{$medium-up} {
			padding-right: rem-calc(20);
			margin-bottom: rem-calc(80);
		}

		@media #{$medium-only} {
			width: 33.33%;
		}

		@media #{$large-up} {
			width: 33.333%;
		}

		&_title {
			font-size: rem-calc(20);
			font-weight: 300;
			text-align: left;
			margin-bottom: rem-calc(5);
			line-height: 1.5;
			color: darken($gray-light, 35%);
		}

		&_categories {
			font-size: rem-calc(14);
			text-align: left;
			font-weight: 200;
			margin-top: 0;
			line-height: 1.5;
		}

		img {
			margin-top: rem-calc(30);
			max-width: 100%;
			@include transition ( all 1.0s ease-in-out );
			text-align: left;
			float: left;

			@media #{$medium-up} {
				max-width: 80%;
			}
		}

		&:hover {
			//@include transform( scale(1.1));
			//@include transition ( scale .6s ease-in-out );

			img {
				@include transform( scale(1.2) rotateX(3deg) translateY(2%));
				@include transform-origin( center top );
			}
		}

		&.small {
			@media #{$medium-only} {
				img {
					max-width: 80%;
				}
			}
			@media #{$large-up} {
				img {
					max-width: 60%;
				}
			}
		}

		&.big {
			@media #{$medium-up} {
				width: 66.66%;
			}
		}
	}
}
//LoadMore button wrapper
.loadMoreLink {
	&.inactive {
		font-size: rem-calc(40);
		opacity: 0.2;
		text-align: center;
		color: $gray;
		margin: auto auto;
		@include inline-block;
		text-transform: uppercase;
		letter-spacing: 2px;
		width: 100%;
		cursor: default;
		@include user-select( none );
	}

	.row {
		text-align: center;
	}
}

//Inner LoadMore button element
.loadMore {
	color: rgba($secondary, 0.5);
	width: 100%;
	font-weight: 100;
	font-size: rem-calc(120);
	text-align: center;
	cursor: pointer;
	position: relative;

	// Add 'LOAD MORE' item after button. This will become visible on hover
	&:after {
		content: 'LOAD MORE';
		text-align: center;
		position: absolute;
		left: 0;
		bottom: rem-calc(30);
		color: ($secondary, 0.3);
		font-size: rem-calc(12);
		width: 100%;
		@include transform( translateY(100%) );
		@include transition ( all 0.6s ease-in-out );
		opacity: 0;
	}

	// Slide in 'LOAD MORE' when the mouse is over the link
	&:hover {
		&:after {
			content: 'LOAD MORE';
			opacity: 1;
			@include transform( translateY(0%) );
		}
	}

	
}
/* 
* Style for the Work single pages complete with art direction 
* Options are: Full Width, Half Width, One Third width, Two Third Widths and Three Quarter Widths
*/
p, div {
	&.full-width {
		@extend .m-12-12;
	}
	&.half-width {
		@extend .m-6-12;
	}
	&.half-width-center {
		@extend .half-width;
		@extend .m-offset-3;
	}
	&.half-width-right {
		@extend .half-width;
		@extend .m-offset-6;
	}
	&.three-quarter-width {
		@extend .m-4-12;
	}
	&.three-quarter-width-center {
		@extend .three-quarter-width;
		@extend .m-offset-4;
	}
	&.three-quarter-width-right {
		@extend .three-quarter-width;
		@extend .m-offset-8;
	}
	&.full-width, &.half-width, &.three-quarter-width {
		clear: both;
	}
}

.work_synopsis {
	//text-align: center;
	margin-bottom: rem-calc(60);

	.work_client {
		//text-transform: uppercase;
		font-size: 80%;
		opacity: 0.7;
		//margin-bottom: rem-calc(20);
		position: relative;
		//text-align: right;
	}

	.work_categories {
		//padding-top: rem-calc(20);
		margin-top: rem-calc(20);
		margin-bottom: rem-calc(40);
		font-size: rem-calc(12);
		font-weight: 400;
		color: lighten($gray, 20%);
		//text-transform: uppercase;
		word-spacing: rem-calc(2);
		letter-spacing: 0;
		position: relative;
	}

	.work_desc {
		//padding-right: $padding * 2;

		p {
			font-size: 90%;
			line-height: 1.7;
			//padding-right: $padding;
		}
	}

	a {
		color: $gray;
		padding: rem-calc(2) 0;
		@include inline-block;
		position: relative;

		&:after {
			content: '';
			width: 0;
			height: 1px;
			position: absolute;
			background-color: $primary;
			right: 0;
			bottom: 0;
			@include transition ( all 1.0s ease-out );
		}

		&:hover {
			color: $primary;

			&:after {
				width: 100%;
				left: 0;
			}
		}
	}
}

div, section {
	&.full-width {
		@extend .container;
		//background-color: $gray;
		//min-height: 600px;
		//margin-bottom: rem-calc(40);
	}
	&.three-columns {
		> div {
			@media #{$medium-up} {
				width: 32%;
				margin-right: 2%;
				float: left;
			}

			&:last-child {
				float: right;
				margin-right: 0;
			}
			margin-bottom: rem-calc(40);
		}
	}
	.two-columns {
		@extend .three-columns;

		> div {
			@media #{$medium-up} {
				width: 49% !important;
				padding: 0;
			}
		}
	}
	.one-column {
		width: 100%;
		float: left;
		margin-top: rem-calc(40);
		margin-bottom: rem-calc(40);
	}
}

.projectNav {
	font-size: rem-calc(60);
	width: 40%;
	margin: auto auto;

	> div {
		width: 50%;
		float: left;
		text-align: center;
		//background-color: $primary;
		//color: $white;
		cursor: pointer;
		@include transition ( all 1.0s ease-in-out );

		&:hover {
			@include transform( scale(1.5) );
			//background-color: darken($primary, 3%);
			//color: $white;
		}
	}
}
@include keyframes( fadeIn ) 
{from {opacity: 0;} to {opacity: 1;}}

.nmt {
	margin-top: 0;
}