$base-font-size: rem-calc(18);
$base-line-height: rem-calc(22);
$base-font-family: Lato, Helvetica, sans;
$base-line: rem-calc(22);

$h1: (
		font-size: rem-calc(76),
		font-weight: 200,
		line: rem-calc(25),
		lines: 4
	);

$h2: (
		font-size: rem-calc(47),
		font-weight: 200,
		line: rem-calc(25),
		lines: 2
	);
$h3: (
		font-size: rem-calc(29),
		font-weight: 200,
		line: rem-calc(25),
		lines: 2
	);

$h4: (
		font-size: rem-calc(18),
		font-weight: 200,
		line: rem-calc(25),
		lines: 1.2
	);

$h5: (
		font-size: rem-calc(16),
		font-weight: 200,
		line: rem-calc(16),
		lines: 1
	);

@mixin header($elem: $h1) {
	@if $elem {
		font-size: map-get($elem, font-size);
		font-weight: map-get($elem, font-weight);
		line-height: map-get($elem, line) * map-get($elem, lines);
		@if $elem == $h1 or $elem == $h2 {
			margin-top: 2 * map-get($elem, line);
		} @else {
			margin-top: 1 * map-get($elem, line);
		}
		margin-bottom: 1 * map-get($elem, line);
	}
}

h1, .alpha {
	@include header($h1);

	&.heading {
		margin-bottom: map-get($h1, margin-bottom);
	}
}
h2, .beta {
	@include header($h2);
}

h3, .gamma {
	@include header($h3);
}
h4, .omega {
	@include header($h4);
}
h5, .sigma {
	@include header($h5);
}

body {
	font-size: 16px;
	font-family: $base-font-family;
	font-weight: 200;
}

p {
	font-size: $base-font-size;
	margin-bottom: $base-line;
	margin-top: $base-line;
}

.small, small {
	font-size: 80%;
}
.large {
	font-size: 120%;
}
.xlarge {
	font-size: 140%;
}
.xxlarge {
	font-size: 160%;
}
.xxxlarge {
	font-size: 180%;
}
.xxxxlarge {
	font-size: 200%;
}

.xxxxxlarge {
	font-size: 210%;
}

strong {
	font-weight: 400;
}
.centered {
	text-align: center;
}
.color-light {
	color: lighten($gray, 25%);
}