<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Witts &amp; Stratts - Designing Experiences</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/assets/css/app.css">
  <script src="/assets/js/modernizr.js"></script>
  <script>
  </script>
  </head>
<body>
    <div class="header mt-pad jsHeader">
        <div class="logo">
            <a href="/" title="Witts &amp; Stratts - Designing Experiences">
                <img src="/assets/img/wittsandstratts-logo.svg" alt="Witts &amp; Stratts - Designing experiences" width="70" height="50">
            </a>
            <h1>Witts and Stratts</h1>
        </div>

        <h2 class="slogan">Designing Experiences</h2>

        <a class="menu">
            <span class="bars">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
    </div>

    <nav class="nav">
       <div class="row mt-pad">
         <ul>
          <li><a href="/works">Works</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Get in Touch</a></li>
       </ul>
       </div>
    </nav>