{% extends '_layout' %}
{% block content %}
	 <div class="homeHero jshomeHero">
         <div class="row">
             <div class="content col m-7-12">
                 <h1>We Design</h1>
            </div>

            <div class="col m-5-12 homeHero_icon">
                <div class="homeHero_icon_item" id="love_container">
                </div>

                <div class="homeHero_icon_item">
                    
                </div>
            </div>
         </div>
    </div>
    <!--Featured section-->
    <div class="featured jsFeatured" id="jsFeatured">
        <!--Control navigation for featured items-->
        <div class="featured_header jsFeaturedHeader">
           <div class="row">
                <h1 class="featured_header_heading">Featured Projects</h1>

                <div class="icon-group">
                    <span class="featured_nav_left icon-arrow-left"></span><span class="featured_nav_right icon-arrow-right"></span>
                </div>

                <a class="featured_viewall" href="/works">View all Projects</a>
           </div>
        </div>

        <div class="featured_projects">
            <!--Invididual featured item-->
            <div class="featured_item 1 " data-bg="/assets/img/Omenka-Magazine.jpg">
                <div class="row">
                   <div class="col l-5-12 end">
                        <h1 class="heading">Omenka Magazine</h1>

                        <h3>A print &amp; digital app for Omenka Art and Lifestyle magazine</h3>

                        <a class="more" href="/works/omenka-magazine">
                            +
                        </a>
                   </div>
                </div>
            </div>


            <div class="featured_item 2" data-bg="/assets/img/Omenka-Magazine2.jpg">
                <div class="row">
                   <div class="col l-5-12 end">
                        <h1 class="heading">The Benin Ugie Carnival</h1>

                        <h3>A 14 days of festivity, dancing and ushering of peace to the new year</h3>

                        <a class="more" href="/works/omenka-magazine">
                            +
                        </a>
                   </div>
                </div>
            </div>



            <div class="featured_item 3" data-bg="/assets/img/Omenka-Magazine3.jpg">
                <div class="row">
                   <div class="col l-5-12 end">
                        <h1 class="heading">The Musical Festival</h1>

                        <h3>A 14 days of festivity, dancing and ushering of peace to the new year</h3>

                        <a class="more" href="/works/omenka-magazine">
                            +
                        </a>
                   </div>
                </div>
            </div>
            <!--Featured items ends-->
        </div>
    </div>
    <!--Featured section ends-->

    <div class="row">
        <div class="intro-text col m-6-12 m-offset-3 end">
            <p>
                Witts &amp; Stratts is a creative agency with a compulsion for creating amazing experiences - for digital, print &amp; physical mediums
            </p>

            <p>
                We make give life to ideas, make informed designs and build meaningful products, services and experiences  with enduring impact on brands and businesses.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="container feature-extra">
            <div class="col m-4-12">
                <img src="/assets/img/sample-ugie.jpg" alt="Ugie Carnival">
            </div>

            <div class="col m-4-12">
                <img src="/assets/img/sample-eko.jpg" alt="Sample Eko">
            </div>

            <div class="col m-4-12">
                <img src="/assets/img/sample-mi.jpg" alt="Sample MI">
            </div>
        </div>
    </div>
{% endblock %}